page-content {
    body{
        font-family:'Roboto',sans-serif;
        font-size:100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    } 
    p{
        text-align:justify;
        color:black;
    }
    p.quotes{
        font-weight:bold;
        color:#115B80;
    }
    p.title{
        font-weight:bold;
        color:#115B80;
        font-size:130%;
        margin-bottom:12px;
        text-align:left;
    } 
    .caption{
        font-size:70%;
        color:#939598;
        text-align:justify;
        margin-bottom:5px;}
    div,embed,img{
        width:100%;
    }
    footer{
        margin-bottom:-10px;
    }
    .bjb{
        font-weight:bold;
        color:#115B80;
    }

    .scrolling{
        overflow: scroll;
        padding-bottom: 50px;
    }

}
